<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  {% include "nav.html" %}
  {% include "flash.html" %}
  <div class="pane">
    <form action="{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method='POST'>

      <p>Nome:</p>
      <input type='text' size='30' name='name' placeholder='{{item.name}}'>
      <p>Descrição:</p>
      <input type='text' size='30' name='description' placeholder='{{item.description}}'>
      <p>Preço:</p>
      <input type='text' size='30' name='price' placeholder='{{item.price}}'>

      <input type='submit' value='Editar'>
    </form>
    <a href='{{url_for('restaurantMenu', restaurant_id= item.restaurant_id)}}'>Cancelar</a>
  </div>
</body>

</html>